body{
  background-color:#f8f8f8;
}
.container{
  width:1200px;
  height: 65px;
  margin: 0 auto;
}
.header{
  background-color: white;
  width: 100%;
  height:71px;
  line-height: 71px;
}
.logo,.navbar-nav{
  float: left;
}
.navbar-nav li{
 float: left;
}
.logo{
  margin-right: 80px;
}
.logo img{
  padding-top: 10px;
}
.navbar-nav{
  display: inline-block;
}
#position span{
  margin-right: 5px;
  font-weight: bold;
}
#position img{
  vertical-align: middle;
}
#position{
  margin-right: 50px;
}
.navbar-nav li>a{
  padding: 10px 15px;
  font-weight: bold;
  color: black;
}
.shanghu-right{
  margin-right: 10px;
}
.shanghu-right a{
  border-radius: 5px;
  background: #fb474f;
  color: #fff !important;
  padding: 4px 6px !important;
  margin-top: 5px;
  margin-left: 15px;
}
.htit{
  height: 140px;
  width: 1200px;
  margin: 10px auto;
}
.htit-center{
  position: relative;
  height: 140px;
  width: 1200px;

}
.htit-left{
  top:50px;
  position: absolute;
 display: inline-block;
}
.htit-right{

  float: right;
}
.htit-right li{
  display: inline-block;
  height: 50px;
}

.htit-left>span:first-child{
  font-weight: bold;
  font-size: 25px;
}
.time,.score{
  color:red
}
.htit-right li>div{
  text-align: center;
}
.htit-right li:nth-child(2n){
  position: relative;
  top:30px
}
.htit-right li:nth-child(2n+1){
  position: relative;
  top:40px
}
.navWrapper{
  height: 40px;
  background-color: black;
}
.nav{
  width: 1200px;
  margin: 0 auto 20px;
}
.nav span{
  line-height: 40px;
  display: inline-block;
  width: 140px;
  color:white;
}
.item{
  overflow: hidden;
  margin: auto;
  width: 1200px;
}
.item_list{
  float: left;
  width: 960px;
  background-color: white;
}
.right{
  float: right;
  width: 240px;
  height: 600px;
  background-color: #fb474f;
}

.activity{
  margin: auto;
  width: 95%;
  border-bottom: 1px solid #e5e5e5;
}
.activity .title{
  display: inline-block;
  width: 65px;
  height: 60px;
  line-height: 60px;
  border-bottom: 3px solid red;
}

.item_content{
  position: relative;
  padding: 20px 0;
  margin: auto;
  width: 95%;

}
.serverContent:nth-child(2){
  overflow: hidden;

  background-color: white;
  padding-bottom: 20px;

}
.imgage{
  margin-right: 25px;
  float: left;
  width: 150px;
  height: 150px;
}
.imgage>img{


  width: 100%;
}
.spm2{
  padding: 20px 20px;

}
.spm2>div:first-child{
  font-size: 18px;
  color:black;
}
.spm2>div:nth-child(2){

  padding-top: 20px;
  padding-bottom: 20px;
  width: 29%;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.price b{
  color:red;
  font-weight: bold;
  font-size: 20px;
}
.price em{
  font-size: 14px;
  color:black;
  font-style: normal;
}
.oldPrice{
  font-size:14px ;
}
.oldPrice em{
  text-decoration: line-through;
}
.saleCount{
  float: right;

}
.item_list:nth-child(2){
  margin-top: 30px;
}
.item_content .name{
  float: left;
  width: 100%;
  margin-bottom: 10px;
  font-size: 22px;
}
.avatar{
 float: left;

  width: 40px;
  height: 40px;
}
.avatar img{

  width: 100%;
}
.ratings{
  margin-left: 30px;
  float: left;
}
.ratings .user{
  font-size: 14px;
}
.star{

}
.star>img{
  width: 13px;
  height: 13px;
}
.star>.time{
  color:black;
}
.position{
  margin-top: 10px;
  color:#898989;
  font-size: 14px;
}
.position img{
  margin-right: 10px;
}
 .line{
   margin: auto;
  width: 95%;
  height: 1px;
  background-color:#e5e5e5 ;
}
 .serverContent{
   overflow: hidden;
 }
 .page{
   margin: 30px auto ;
   text-align: center;

 }
 .page span{
   display: inline-block;
   height: 30px;
   border: 1px solid #e5e5e5;
 }
 .page .number{
   line-height:30px ;
   width: 30px;
 }
 .page .pre{
   display: inline-block;
   line-height:30px ;
   width: 80px;
 }
 .page .next{
   display: inline-block;
   line-height:30px ;
   width: 80px;
 }
.right img:last-child{
  width: 130px;
  height: 130px;
  position: absolute;

  top: 349px;
  left: 48px;

}
.left{
  width: 960px;
  float: left;
}
.right{
  float: right;
  width: 230px;
  position: relative;

}
.baozhang,.baozhang1,.baozhang2,.footer{
  width: 1200px;
  text-align: center;
  margin: auto;
}
.baozhang{
  font-size: 30px;
  font-weight: 800;
}
.baozhang>span{
  color:red;
  font-size: 30px;
  font-family: "微软雅黑";
  font-weight: 800;
}
.baozhang1{
  font-size: 22px;
  color: #3d3838;

}
.baozhang2 .icon-xuanzhong{
  color:green;
  font-size: 30px;
}
.baozhang2 span:nth-child(2n){
  position: relative;
  line-height:20px ;
  font-size: 20px;
  top: -4px;
  height: 20px;
  display: inline-block;
}
.hotCity{
  height: 100%;
  float: left;
  font-weight: bold;
  font-size: 25px;
}
.footer{
  padding-bottom: 20px;
  overflow: hidden;
}
.footer .list{
  overflow: hidden;
}
.footer li{
  float: left;
  margin-right: 10px;
  height: 10px;
  width: 40px;
  margin-bottom: 20px;
  margin-left: 40px;
}
.friendList{
  background-color:#FBF8F8;
}
.comuty,.friends{
  width: 1200px;
  margin: auto;

}
.comuty{
  font-size: 14px;
  margin-bottom: 20px;
}
.friends>p{
  font-weight: bold;
  font-size: 20px;
}
.friends ul{
  overflow: hidden;
}
.friends li{
  width: 10%;
  height: 60px;
  float: left;
  line-height: 55px;
  text-align: center;
}
.friends img{
  width: 100px;
}
.select{
  background-color: red;
}
.change{
  color:red
}
.navbar-nav li:hover>a{
  color: red;

}
.navbar-nav li.change>a{
  color:red ;
}
.fixed-animated{
  animation-name: fixedHeader;
  transform-origin: center top;
  animation-duration: 0.8s;
}
@keyframes fixedHeader {
  0%{
    opacity: 0;
    z-index:999 ;
    transform: rotateX(0deg);
  }
  100%{
    opacity: 1;
    z-index:999 ;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .12);
    transform: rotateX(-100deg);
  }

}
.bg{
  background-color:#333 ;
}
.fixed{
  box-shadow: 0 3px 6px rgba(0, 0, 0, .12);
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:999

}
